<section id="posts">
  <div class="content-loop">
    <div class="row">
      <% @posts.each do |post| %>
          <div class="col-md-3">
            <div class="post-item">
              <div class="post-thumb">
                <%= link_to post_path(post), method: "get", title: "#{post.title}", class: "record-data" do %>
                    <%= image_tag post.image.url, class:"thumb-img", alt: "#{post.title}", height: "160" %>
                <% end %>
              </div>
              <div class="post-body">
                <div class="post-category">
                  <%= link_to post.title, post_path(post), method: "get", style: "font-family: 'PT Serif', serif; font-size: 15px; text-transform: capitalize" %>
                </div>
                <div class="post-author" style="color: rgba(0,0,0,.44)!important; font-size: 12px">
                  <%= post.display_day_published.titleize %> ~ In <%= post.display_category.titleize %>
                </div>
                <div class="post-publish" style="bottom: 20px; font-size: 12px">
                  <%= link_to '#' do %>
                      <i class="fa fa-tags"></i> <span><%= post.display_tag %></span>
                  <% end %>
                </div>
                <div class="post-publish" style="bottom: 20px; font-size: 12px; bottom: 5px">
                  <%= link_to '#' do %>
                      <i class="fa fa-eye"></i> <span><%= post.impressionist_count %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>
