<% provide(:first_title, "Organisasi STMIK Bumigora Mataram") %>
<% provide(:second_title, "Home") %>

<div class="row">
  <div class="col-md-7">
    <%= render 'users/home/posts-bem' %>
    <%= render 'users/home/posts-ukm' %>
    <%= render 'users/home/posts-sc' %>
  </div>
  <div class="col-md-3">
    <%= render 'users/home/sidebar/popular-post' %>
    <%= render 'users/home/sidebar/popular-event' %>
  </div>
  <div class="col-md-2">
    <iframe src="//cdn.bannersnack.com/banners/bc3wk2ggi/embed/index.html?userId=26461891&t=1484646142" width="160" height="600" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
  </div>
</div>
